.card {
  max-width: 16rem;
  height: auto;
}

.card-header-avatar {
  margin-right: 1.8rem;
}

.card-header-avatar-image {
  max-height: 6rem;
}

.card-header-subtitle-container {
  margin-top: 1rem;
}

.modal-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.modal-element {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.modal-text {
  padding: 0;
  margin: 0 0 0.2rem;
}


.block-container {
  padding: 0;
  margin-left: 3rem;
  margin-right: 3rem;
  list-style: none;
  display: block;
}

.form-full-width {
  min-width: 300px;
  width: 100%;
}

.form-field-full-width {
  width: 100%;
}
