<mat-grid-list cols="3" rowHeight="4:3">
  <mat-grid-tile colspan="1" rowspan="3" style="border: 1px solid red;">
    <img style="max-height: 15rem; width: auto;" src="{{data.movie.posterUrl}}">
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1" style="border: 1px solid red;">
    <h1 mat-dialog-title>{{data.movie.title}}</h1>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2" style="border: 1px solid red;">
    <div mat-dialog-content >
      <p>{{data.movie.plot}}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1" style="border: 1px solid red;">Price here</mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1" style="border: 1px solid red;">
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Back</button>
      <button mat-button [mat-dialog-close]="data">Order</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
