table {
  text-align: center !important;
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

tr.order-row {
  height: 0;
}

tr.order-row-element:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.order-row-element:not(.example-expanded-row):active {
  background: #efefef;
}

.order-row-element td {
  border-bottom-width: 0;
}

.order-row-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-order-history-lines {
  margin: 10px;
}
