<div class="input-card-wrapper" fxLayout="column" fxLayoutAlign="center center">

  <mat-card>
    <p>
      <mat-card-header fxLayout="row" fxLayoutAlign="center">
        <mat-card-title>Videostore</mat-card-title>
      </mat-card-header>
    </p>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field>
            <input matInput required placeholder="Username" formControlName="username">
          </mat-form-field>
        </p>


        <p>
          <mat-form-field>
            <input type="password" required matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>

        <p fxLayout="row" fxLayoutAlign="center">
          <button type="submit" mat-button>Log in</button>
        </p>

        <p fxLayout="row" fxLayoutAlign="center">
          <button fxLayout="row" fxLayoutAlign="center" (click)="signUp()" mat-button>Create an account</button>
        </p>

      </form>
    </mat-card-content>

  </mat-card>

</div>
