<mat-toolbar color="primary" class="app-header">
  <span>
    <a mat-button *ngIf="!isLoggedIn()" routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button *ngIf="!isLoggedIn()" routerLink="signup" routerLinkActive="active">Sign up</a>
    <a mat-button disabled style="color: white" *ngIf="isLoggedIn()">Logged in as: {{getCurrentUser()}}</a>
    <a mat-button *ngIf="isLoggedIn()" (click)="signOut()">Log Out</a>
  </span>
  <span class="fill-remaining-space"></span>
  <span>
    <a mat-button *ngIf="isLoggedIn()" routerLink="order-history" routerLinkActive="active">Order History</a>
    <a mat-button *ngIf="isLoggedIn()" routerLink="movies" routerLinkActive="active">Movies</a>
    <a mat-button *ngIf="isLoggedIn()"><i class="material-icons">shopping_cart</i></a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>


