<mat-toolbar color="primary" class="app-header">
  <span>
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button routerLink="signup" routerLinkActive="active">Sign up</a>
  </span>
  <span class="fill-remaining-space"></span>
  <span>
    <a mat-button routerLink="movies" routerLinkActive="active">Movies</a>
    <a mat-button routerLink="cart" routerLinkActive="active"><i class="material-icons">shopping_cart</i></a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
